* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .center{
    margin: auto;
    background-color: red;
    width:10px;
    height: 10px;
}
*/

body{
    background-color: #f7f7f7;
}

.menu-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 55px;
    align-items: center;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.items {
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    height: 45px;
}

.item{
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    border-radius: 100px;
    background-color: #f7f7f7;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;

}

.arrow {
    margin-right: 20px;
}

.hamburger{
    display: flex;
    height: 52px;

    justify-content: center;
    align-items: center;
    margin: 0 10px 0 20px;
    padding: 0 15px 0 15px;

}

.facebook-icon{
    height: 40px;
    width: 40px;
}

.logo{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;

}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #f7f7f7;
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

.item:hover,
.item:visited:hover{
    background-color: #dfe3ee;
}

.item:active,
.item:visited:active {
    background-color: #7e8184;
}

.hamburger:hover,
.hamburger:visited:hover {
    background-color: #f7f7f7;
    border-radius: 10px;
}

.hamburger:active,
.hamburger:visited:active{
    background-color: #dfe3ee;
}

.navigation {
    justify-content: flex-start;
    align-items: center;
    display: none;
    height: 45px;
    width:38%;
    margin-left: 31%;
    position:absolute;
}

.nav-item {
    display: none;
    list-style-type: none;
    height: 52px;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
    width: 20%;
}

.nav-item:hover,
.nav-item:visited:hover{
    background-color: #f7f7f7;
    border-radius: 10px;
}

.nav-item:active,
.nav-item:visited:active {
    border-bottom: 2px solid dodgerblue;
    padding-top: 2px;
    border-radius: 10px 10px 0 0;
}

.nav-item:active .maybe,
.nav-item:visited:active .maybe{
    color: dodgerblue;
}

@media only screen and (min-width: 701px) {

    .navigation{
        display: flex;
    }

    .hamburger{
        display: none;
    }

    .nav-item{
        display: flex;
    }

    .searchbar-container{
        display: flex;
        justify-content: flex-start;
        width: 20%;
    }
    .menu{
        position: relative;
    }
}